
.URLInputField {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .URLInputField input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .URLInputField button {
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
  }
  
  .URLInputField button:hover {
    background-color: #b3000fcb;
  }
  